@import 'mixins';

.main{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    color: #04285F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todolist-Background{
    width: 100%;
    height: 50%;
    text-align: center;
    @include d-flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;

}
.main-input{
    width: 50%;
    height: 40px;
    outline: 0;
    border: 2px solid #04285F;
    color: #04285F; 
    text-align: center;
}
.plus-box{
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    background: url('/img/add.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.general-function{
    @include d-flex;
    justify-content: space-evenly;
}
.delete-btn{
    background-color: #fff;
    width: 100px;
    height: 20%;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
@import 'media';