.tasks{
    width: 60%;
    height: 10%;
    background-color: #fff;
    @include d-flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.RemoveBtn{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('/img/iconmonstr-x-mark-thin.svg');
    background-position: center;
    background-repeat: no-repeat;

}
.checking{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
@import 'mixins';
@import 'media'